{% extends "base.html" %}

{% block pagetitle %} Jinja Samples {% endblock %}

{% block exercise_content %}

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
            </div>
            <div class="col-md-12" id="add_item">
            </div>
          </div>
          <div class="col-md-6" id="cart_item"></div>
        </div>
    </div>
    
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/exercise.js')}}"></script>
    <script type="text/jsx">
        React.render(
            <PostBox url='/exercisedata' cart_url='/cartdata' pollInterval={2000}/>,
            document.getElementById('add_item')
        );
    </script>

{% endblock %}